/**
 ********************************
 * _CAROUSEL.SCSS
 ********************************
 */

/**
 * @module Carousels [.carousel]
 * @description Responsive carousels for use with the javascript plugin
 *
 * @modifier [.carousel--2] Make the carousel two wide
 * @modifier [.carousel--3] Make the carousel three wide
 * @modifier [.carousel--4] Make the carousel four wide
 * @modifier [.carousel--5] Make the carousel five wide
 *
 * @markup Carousel
    <div class="carousel">
      <ul class="carousel__list">
        <li>
          <img src="http://placetim.com/200/100/" />
        </li>
        <li>
          <img src="http://placetim.com/200/100/" />
        </li>
      </ul>
    </div>
 */
[class*='carousel'] {
  position: relative;
}

/**
  * @submodule Carousel List [.carousel__list]
  * @description The list of content for the carousel. You can add as many
  * items to the list, and the carousel will automatically respond and
  * adjust.
  */
$margin: get(spacing) / 2;

.carousel__list {
  @include gpu;
  @include clearfix;
  @include prune-list;

  position: relative;
  display: flex;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;

  > li {
    display: block;
    min-width: 100%;
  }
}

@for $display from 2 through 5 {
  .carousel--#{$display} .carousel__list > li {
    @include media(medium) {
      min-width: 100%;
    }

    @include media(large) {
      min-width: calc(
        100% / #{$display} - #{($margin * ($display - 1)) / $display}
      );
    }

    &:not(:last-child) {
      margin-right: $margin;
    }
  }
}
