<ol class="carousel__nav pagination {{class}}">

 	<li class="pagination__prev"><a href="#" data-goto="--">Previous</a></li>

	<li class="pagination__item">
		<span class="carousel__current-page-count">1</span>
		/
		<span class="carousel__page-count">{{pageCount}}</span>
	</li>

	<li class="pagination__next"><a href="#" data-goto="++">Next</a></li>

</ol>